image:
  repository: quay.io/argoprojlabs/argocd-e2e-container
  tag: 0.1
  pullPolicy: IfNotPresent

containerPort: 80

app:
  enabled: true
  baselineMaxReplicas: null
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50

fullnameOverride: "guestbook"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
  path: /
  hosts:
    - chart-example.local
  tls: []

resources:
  requests:
    cpu: 100m

nodeSelector: {}

tolerations: []

affinity: {}
